{% extends "page.html" %}

{% block primary_content_inner %}
  <h1 class="page-heading">Pending Users</h1>
    <p>Click update to check details and update a pending request</p>
  {% if requests %}
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Requested User</th>
        <th>Last Checked Status</th>
        <th>Last Updated</th>
        <th>Request ID</th>
        <th>Check for Update</th>
      </tr>
      </thead>
      <tbody>
    {% for request in requests %}
        <td>{{request.key}}</td>
        <td>{{ request.state }}</td>
        <td>{{ request.last_updated }}</td>
      {% if request.value.request_id %}
        <td>{{ request.value.request_id}}</td>
        <td><a class=btn href="{%  url_for controller='ckanext.glasgow.controllers.request_status:RequestStatusController', action='get_status', request_id=request.value.request_id %}"><i class=icon-refresh></i></a></td>
      {% else %}
        <td></td>
        <td></td>
      {% endif %}
      </tr>
    {% endfor %}
     </tbody>
    </table>
  {% else %}
    <p>No current pending user requests</p>
  {% endif %}
{% endblock %}

{% block secondary_content %}
<h2 class="module-heading">Platform User Management</h2>
  <ul class="unstyled nav nav-simple">
    <li class="nav-item">
      <a class="heading" title="create users" href="{% url_for controller='ckanext.glasgow.controllers.create_user:CreateUsersController', action='create_users' %}">
          Create User
      </a>
    </li>
    <li class="nav-item active">
      <a class="heading" title="pending users" href="{% url_for controller='ckanext.glasgow.controllers.create_user:CreateUsersController', action='pending_users' %}">
        Pending Users
      </a>
    </li>
      {% if h.check_access('ec_superadmin_create') %}
    <li class="nav-item">
      <a class="heading" title="create platform admin" href="{% url_for controller='ckanext.glasgow.controllers.create_user:CreateUsersController', action='change_user_role' %}">
          Make User a Super Admin
      </a>
    </li>
      {% endif %}
  </ul>
{% endblock %}
